@import "../../base/sass/main.scss";

.dropdown {
  position: relative;

  .arrow {
    position: absolute;
    right: 20px;
    top: 45%;
    transition: all 250ms;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-top: 5px solid $color-light-grey;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      transition: all 250ms;
    }
    &:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 0;
      border-top: 3px solid $bg-main;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      transition: all 250ms;
    }
    &.open {
      top: 55%;
      transform: rotateX(180deg);
    }

  }

  ul {
    display: none;
    background-color: $bg-main;
    border: 2px solid $bg-second;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
  }

  ul.open {
    display: block;
  }

  li {
    box-sizing: border-box;
    color: $color-light-grey;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }

  li.selected,
  li:hover, li:focus {
    background-color: $bg-second;
    color: $font-color-secondary;
  }
}
