@import "../../base/sass/main.scss";

.transWrapper {
  border-radius: 0px 30px 30px 30px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}

.transSummWrapper {
  display: flow-root;
  margin-top: 170px;
  justify-content: space-between;
  align-items: flex-start;

  @include for-size(mobile) {
    display: flex;
    margin-top: 40px;
  }

  @include for-size(tablet) {
    display: flex;
    margin-top: 40px;
  }

  @include for-size(desktop) {
    display: flex;
    margin-top: 0;
    justify-content: space-between;
    align-items: flex-start;
  }
}
