@import '../../base/sass/main.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $accent-color-dark;
  background: #fff;
}

.userData {
  display: flex;
  align-items: center;
  gap: 30px;
}
.logoLink {
  @include for-size(desktop) {
    order: -1;
  }
}

.nav {
  display: flex;
}

.hideOnMobile {
  @include for-size(mobile-only) {
    display: none;
  }
}
