@import "../../base/sass/main.scss";

.reportLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 15px;
}

.barIcon {
  fill: $font-color-secondary;
}
.reportText {
  color: $font-color-secondary-02;
}
