.income {
  margin: 60px auto;
  width: 760px;
  /* text-align: center; */
  border-radius: 30px;
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 4px 4px 2px rgba(187, 187, 187, 0.3);
}

.income__head {
  color: rgb(0, 0, 0);
}

th {
  padding: 10px;
  overflow: hidden;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  /* background-color: rgb(55, 161, 211); */
}

td {
  border: 2px solid #f5f6fb;
  padding: 10px;
}

/* tr:nth-child(even) {
  background-color: rgb(219, 217, 217);
} */
