@import "../../base/sass/main.scss";


.tableHead {
  display: none;

  @include for-size(tablet) {
    display: table-header-group;
  }
}

.amount {
  font-weight: 700;
  font-size: 12px;
}


.mobileDescription {
  display: block;
  color: $font-color-secondary;
  font-weight: 700;
  font-size: 12px;

  @include for-size(tablet) {
    display: none;
  }
}

.mobileWallet {
  display: block;

  @include for-size(tablet) {
    display: none;
  }
}



.table {
  font-size: 8px;
  flex-shrink: 1;
  @include for-size(tablet) {
    font-size: 12px;
  }

  td.hideMobile {
    @include for-size(mobile-only) {
      display: none;
    }
  }

  td {
    @include for-size(mobile-only) {
      margin-top: 10px;
    }
  }

  .column {
    @include for-size(mobile-only) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

}

.hideOnTablet {
  display: block;
  font-weight: 700;
  font-size: 12px;

  @include for-size(tablet) {
    display: none;
  }
}

td {
  background-color: $bg-main;
  vertical-align: bottom;

  @include for-size(tablet) {
    padding: 0 20px;
  }
}

.expense {
  color: $balance-out;
}

.income {
  color: $balance-in;
}


