@import "../../base/sass/main.scss";
@import "../../base/sass/utils/variables";

.block_expenses,
.block_income {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  justify-content: center;
  text-align: center;

  @include for-size(tablet) {
    display: block;
    margin: 20px;
  }
}

.label {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  @include for-size(tablet) {
    margin-right: 15px;
  }
}

.expenses,
.income {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.expenses {
  color: $balance-out;
}

.income {
  color: $balance-in;
}

.splitter {
  border-left: solid 1px #e0e5eb;
  height: 70.5px;
  width: 1px;

  @include for-size(tablet) {
    height: 36px;
  }
}
