@import "../../base/sass/main.scss";

.categories {
  background-repeat: no-repeat;
  background-size: contain;

  @include for-size(tablet) {
    background-image: url(../../base/images/tablet/bg/bg-tablet.png);
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #f5f6fb;
    border-bottom-left-radius: 150px;
    z-index: -1;
    height: 97.8vw;
  }
}
.dataline {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 282px;
  border: solid 1px #ffffff;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
  margin: 15px auto;
}

.dataline_block_expenses,
.dataline_block_income {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}

.dataline_label {
  width: 100%;
}

.dataline_expenses,
.dataline_income {
  width: 100%;
}

.dataline_expenses {
  color: #e53935;
}

.dataline_income {
  color: #407946;
}

.datalineJumper {
  border-left: solid 1px #e0e5eb;
  height: 70.5px;
  width: 1px;
}

.expencesBlock {
  width: 100%;
  height: auto;
  margin: 30px auto;
  padding: 20px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}

.chartBlock {
  margin: 0 auto 75px auto;
  padding: 44px;
  width: 100%;
  height: auto;
  background: #ffffff;

  border-radius: 30px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}

@include for-size(tablet) {
  .dataline {
    justify-content: center;
    flex-flow: row nowrap;
    height: 50px;
    width: 668px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
  .dataline_block_expenses,
  .dataline_block_income {
    display: block;
    margin: 20px;
  }
  .dataline_label {
    margin-right: 15px;
  }
  .datalineJumper {
    height: 36px;
  }
  .expencesBlock {
    width: 666px;
  }
  .chartBlock {
    width: 666px;
  }
}

@include for-size(desktop) {
  .dataline {
    height: 50px;
    width: 1060px;
  }
  .expencesBlock {
    width: 1060px;
  }
  .chartBlock {
    width: 1060px;
  }
}
