@import '../../base/sass/main.scss';

.wrap {
  //display: flex;
  height: calc(100vh - 10px);
  
}

.wrapper {
  display: flex;
  //flex-flow: column;
 
  height: 289px;
  border-radius: 0 0 0 120px;
  background-color: #f4f6fb;
  margin: 0;
  padding: 0;

  @include for-size(tablet) {
    height: 512px;
  }
  @include for-size(desktop) {
    display: flex;
    
  }
  
}



