@import '../../base/sass/main.scss';
@import '../../base/sass/utils/placeholder';

a {
  text-decoration: none;
}

.LinkToTransactions {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: $font-color-secondary-02;
  transition: color 250ms;

  &:hover,
  &:focus {
    color: $accent-color-dark;
  }

}

.LinkToTransactionsText {
  display: none;

  @include for-size(tablet) {
    margin-left: 15px;
    width: 135px;
    display: block;
  }
}

.LinkToTransactionsIcon {
  width: 24px;
  height: 24px;
  fill: $font-color-secondary;
}
