* {
  box-sizing: border-box;
}

.swiperContainer {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 25px;
  width: 170px;
  overflow: hidden;
}

.swiperSlider {
  background-position: center;
}

.swiperTitle {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
