@import "../../base/sass/main.scss";

.form {
	margin-bottom: 40px;

	@include for-size(tablet) {
		margin-bottom: 48px;
	}
}

.formGoup {
	@include for-size(tablet) {
		justify-content: center;
		margin-bottom: 30px;
	}
}

.input[type="file"] {
	display: none;
}

.customFileUploader {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.customFileUploader + label {
	display: inline-block;
	width: 100%;
	font-weight: 700;
	padding: 12px 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 0 0 16px 0;
	border-top: none;
	cursor: pointer;
	color: #c7ccdc;

	@include for-size(tablet) {
		border: 2px solid #f5f6fb;
		margin: 0;
		border-radius: 0 16px 16px 0;
		height: 100%;
		border-left: none;
	}
}

.customFileUploader + label * {
	pointer-events: none;
}

.customFileUploader:focus + label,
.customFileUploader + label:hover {
	background-color: #f5f6fb;
	color: black;
}

.customFileUploader:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.btnWrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
