@import "../../base/sass/main.scss";

.table {
}

.tableHead {
	display: none;

	@include for-size(tablet) {
		display: flex;
	}

	th {
		align-items: center;
	}

	th:first-child {
		justify-content: center;
	}
}

.tableRow {
	align-items: center;
}

.tableLogo {
	justify-content: center;
}

.tableImg {
	height: 25px;
	width: 25px;

	@include for-size(tablet) {
		height: 35px;
		width: 35px;
	}
}

.tableType1 {
	flex-direction: column;
	justify-content: center;
}

.tableType1Info {
	margin-right: auto;

	&:first-child {
		font-weight: 700;

		@include for-size(desktop) {
			font-weight: normal;
		}
	}
	&:last-child {
		font-size: 10px;

		@include for-size(tablet) {
			display: none;
		}
	}
}

.table .tableType2 {
	display: none;

	@include for-size(tablet) {
		display: flex;
	}
}

.btnIcon {
	justify-content: center;
}
