@import "../../base/sass/main.scss";

.table {
}

.tableHead {
	display: none;
}

.tableRow {
	align-items: center;
}

.tableLogo {
	justify-content: center;
}

.tableImg {
	height: 25px;
	width: 25px;
}

.tableType1 {
	flex-direction: column;
  justify-content: center;
}

.tableType1Info {
	margin-right: auto;

	&:first-child {
		font-weight: 700;
	}
	&:last-child {
		font-size: 10px;
	}
}

.tableType2 {
	display: none;
}

.btnIcon {
	justify-content: center;
}
