@import "../../base/sass/main.scss";

.billsTable {
  margin-top: 30px;
  font-size: inherit;
  flex-shrink: 1;

  @include for-size(tablet) {
    font-size: 12px;
  }

  th {
    display: flex;
    justify-content: center;
  }

  td {
    display: flex;
    justify-content: center;
  }

  .column {
    @include for-size(mobile-only) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.categoriesActionsDeleteIcon {
  width: 18px;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
}
