@import "../../base/sass/main.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-size(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include for-size(desktop) {
    flex-wrap: nowrap;
  }
}

.amountInputWrapper {
  position: relative;
}

.iconCalcWrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.btnGroup {
  text-align: center;
  width: 100%;
  margin-top: 30px;

  @include for-size(desktop) {
    width: auto;
    margin-top: 0;
    margin-left: 30px;
    display: flex;
  }
}

.calendarWrapper {
  position: relative;
  padding: 0 0 0 25px;
  max-width: 100px;
}

.calendarImg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.calendarInput {
  padding-left: 0;
  padding-right: 0;
}
