@import "../../base/sass/main.scss";


.containerSummary {
display: none;
@include for-size(tablet) {
  //position: absolute;
  //left: 80px;
  //top: 800px;
  //display: inline-block;

  width: 230px;
  text-transform: uppercase;
  margin: 60px auto;

  @include for-size(mobile) {
    display: flow-root;
    margin-top: 60px;
  }

  @include for-size(tablet) {
    display: block;
    max-width: 605px;
    margin-top: 60px;
  }

  @include for-size(desktop) {
    display: flex;
    margin-top: 0;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@include for-size(desktop) {
  position: static;
  display: inline-block;
  width: 230px;
  text-transform: uppercase;
}
}
.titleSummary {
  text-align: center;
  font-weight: 700;
  padding: 10px;
  background-color: #f4f6fb;
  border-bottom: 1px solid white;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.listSummary {
  background-color: #f4f6fb;
}
.listSummary:last-child {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid white;
}
