@import "../../base/sass/main.scss";

.categories {
	background-color: #fff;
	// text-align: center;
	background-image: url(../../base/images/mobile/bg/bg-mobile.png);
	background-repeat: no-repeat;	
}

.container {
	padding-top: 54px;
}

.categoriesTitle {
	margin-bottom: 60px;
}

.categoriesWrapper {
	@include for-size(minmobile) {
	}
}
