body {
	background-color: grey;
}

.wrapper {
	padding-top: 83px;
	text-align: center;
}

.categoriesWrapper {
	background-color: #fff;
	width: 1060px;
	margin: 0 auto;
	padding: 33px 20px;
	text-align: center;
}

.categoriesForm {

}

.categoriesFormItem {
	
}

.categoriesTitle {
	margin-bottom: 15px;
}

.categoriesTable {
	margin: auto;
}