.form {
  width: 304px;
  padding: 15px 15px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 9px 57px #b3b9c740;
  border-radius: 25px;
  display: flex;
  flex-flow: column;
}

.wrapper {
  position: relative;
}

.wrapper::after {
  position: absolute;
  content: '';
  height: 70px;
  width: 90px;
  left: 10px;
  padding-top: -20px;
  padding-bottom: 20px;
  background-image: url("../../images/authForm_bg320.png");
  background-repeat: no-repeat;
}

.form_titleGoogle {
  font: normal normal 12px/14px "Roboto";
  text-align: center;
  color: #52555F;
}

.form_title {
  font: normal normal 12px/14px "Roboto";
  margin-left: 63px;
  letter-spacing: 0.04em;
  color: #52555F;
}

.form_inputArea {
  padding-top: 25px;
  width: 270px;
}

.form_googleLink {
  width: 122px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px auto 30px auto;
  box-shadow: 1px 2px 3px rgba(170, 178, 197, 0.29);
  border-radius: 26px;
  border: 2px solid #f5f7fa;
  background-color: #f5f7fa;
  font-weight: 500;
  line-height: 40px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.form_googleLink:hover {
  background-color: #fd812d;
  border: none;
  color: #fff;
  /* transition: 0.2s ease-in-out; */
}

.form_googleLogo {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
}

.form_inputDescription {
  display: block;
  font: normal normal 12px/14px "Roboto";
  margin: 10px 0;
  letter-spacing: 0.04em;
  color: #000000;
}

.form_input {
  width: 270px;
  height: 48px;
  border-radius: 30px;
  border: 2px solid #f4f6fb;
  background-color: #f5f7fa;
  padding: 0 0 0 27px;
}

.form_buttons {
  width: 270px;
  padding-top: 40px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.form_button {
  width: 125px;
  height: 45px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 17px;
  background-color: #f4f6fb;
  text-align: center;
  color: #52555F;
  font-size: 11px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.form_button:hover {
  background-color: #fd812d;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.form_button__active {
  width: 125px;
  height: 45px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 17px;
  background-color: #f4f6fb;
  text-align: center;
  color: #ffffff;
  background-color: var(--orange);
  box-shadow: 2px 3px 5px rgba(255, 107, 8, 0.34);
}

@media screen and (min-width: 768px) {
  .wrapper::after {
    width: 180px;
    height: 222px;
    background-image: url("../../images/kapusta_jump.png");
    left: 200px;
    right: auto;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    padding: 20px 30px;
    background-color: #fff;
  }
  .form_titleG {
    text-align: left;
    font-size: 12px;
  }
  .form_title {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 0;
    margin: 115px auto 0 auto;
  }
  .wrapper::after {
    display: none;
  }
}
/*# sourceMappingURL=AuthForm.module.css.map */