@import "../../base/sass/main.scss";


.tabListItem {
  /* position: absolute; */
  display: flex;
  text-align: center;
  align-items: center;
  width: 138px;
  height: 40px;
  left: 110px;
  top: 148px;

  background: $bg-main;
  // border: solid $accent-color-light;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  /* margin-bottom: -1px;
  padding: 0.5rem 0.75rem; */
}

.tabListActive {
  background-color: $accent-color-light;
  //border: solid $accent-color-dark;
  border-width: 1px 1px 0 1px;
}
