@import "../../base/sass/main.scss";

.balanceWrapper {
  position: relative;
  cursor: pointer;
}
.walletsList {
  opacity: 0;
  position: absolute;
  box-shadow: 0 0 7px 2px rgba(170, 178, 197, 0.2);
  background-color: $bg-main;
  border-radius: 16px;
  left: 0;
  transition: opacity 250ms;
  padding: 0 15px;
  z-index: 22;

  &.active {
    opacity: 1;
  }
}

.walletItem {
  display: flex;
  gap: 15px;
  padding: 10px 0;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: 2px solid $bg-second;
  }
}
