@import "../../base/sass/main.scss";
@import "../../base/sass/utils/variables";
.container {
  display: flex;
}

.container_balance {
  display: flex;
  flex-wrap: wrap;
  background: inherit;
  width: 248px;
  height: 70px;
  margin: 0 auto;
  justify-content: center;
}

.balance {
  display: flex;
  height: 44px;
  align-items: center;
}

.balance_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  width: 83px;
  height: 20px;
  color: rgba(82, 85, 95, 0.7);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  @include for-size(mobile) {
    margin-bottom: 0;
  }
}

.balance_input {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  height: 44px;
}

.balance_input_zone {
  height: 100%;
  width: 125px;
  text-align: right;
  padding-right: 45px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  border: solid 2px $bg-main;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background: inherit;
}

.balance_input_zone:focus {
  outline: 0;
}

.balance_input_text {
  position: absolute;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  right: 15px;
  align-items: center;
}

.balance_btn {
  height: 44px;
  width: 125px;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  font-family: inherit;
  text-transform: uppercase;
  color: rgba(82, 85, 95, 0.7);
  border: solid 2px $bg-main;
  border-radius: 0 16px 16px 0;
  border-left: none;
  background: inherit;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  @include for-size(mobile) {
    border-left: solid 2px $bg-main;
  }
}

.balance_btn:hover {
  background: $accent-color-dark;
  border-color: $accent-color-dark;
  color: $bg-main;
}
@include for-size(tablet) {
  .container_balance {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 668px;
    height: 44px;
  }

  .balance_title {
    height: 20px;
    width: 83px;
  }

  .balance_input_zone {
    border-radius: 16px;
    margin-right: 15px;
  }

  .balance_input_text {
    right: 30px;
  }

  .balance_btn {
    border-radius: 16px;
  }
}
@include for-size(desktop) {
  .container_balance {
    width: 1060px;
    height: 44px;
  }
}

.arrowBtn {
  display: flex;
  justify-content: flex-start;
  top: 18px;
  left: 20px;
  border: none;
  background-color: #f2f5fc;
  // margin-left: 80px;
  color: rgba(82, 85, 95, 0.7);
}

.arrowSvg {
  color: #ff751d;
  width: 30px;
  height: 20px;
  margin-right: 18px;
}

.backText {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font: normal normal 12px/14px "Roboto";
  letter-spacing: 0.04em;
}

.backTextTabl {
  display: none;
}
