.balance {
  display: flex;
  align-items: center;

  span {
    margin-right: 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  }

  // input {
  //   width: 125px;
  //   height: 30px;
  //   text-align: end;
  //   font-size: 12px;
  //   line-height: 14px;
  //   font-weight: 700;
  //   border-radius: 16px;
  //   border: 2px solid #bbb;
  //   box-sizing: border-box;
  //   margin-left: 20px;
  // }
}
