.dropdown {
  position: relative;

  .arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: 0.3rem;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
  }

  ul {
    display: none;

    // TODO background-color?
    background-color: #f5f6fb;
    border: 2px solid #f5f6fb;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
  }

  ul.open {
    display: block;
  }

  li {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }

  li.selected,
  li:hover {
    background-color: #f2f9fc;
    color: #333;
  }
}
