@import "../utils/variables";
@import "../utils/mixins";

.table {
  border-collapse: separate;
  font-size: 12px;
  line-height: 1.17;
  color: $font-color-secondary;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  //border: 2px solid $bg-second;

  thead {
    height: 38px;
    text-transform: uppercase;
    font-weight: 700;

    th {
      background-color: $bg-second;
      border: 2px solid $bg-second;
      display: flex;
      flex: 1 1 120px;
      min-height: 38px;
      padding: 10px 20px;
      overflow: hidden;
      text-transform: uppercase;
      color: $font-color-main;
    }

    th:first-child {
      border-top-left-radius: 20px;
    }

    th:last-child {
      border-top-right-radius: 20px;
    }
  }

  tbody {
    font-weight: 400;
    max-height: 345px;
    display: block;
    overflow: auto;
    width: 100%;

    td {
      display: flex;
      flex: 1 1 120px;
      align-items: center;
      border-bottom: 2px solid $bg-second;
      text-align: left;
      vertical-align: bottom;
      transition: all 0.2s ease-in;
      min-height: 38px;

      @include for-size(tablet) {
        vertical-align: middle;
      }
    }
    @include for-size(tablet) {
      td:first-child {
        border-left: 2px solid $bg-second;
      }
      td:last-child {
        border-right: 2px solid $bg-second;
      }
    }
  }

  tr {
    display: flex;
    table-layout: fixed;
    width: 100%;
    align-items: center;
  }
}

.table.table-grey {

  th {
    border-color:  $bg-main;
  }

  tbody {
    td {
      background-color: $bg-second;
      border-color: $bg-main;
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: 20px;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  height: 60px;
  border-radius: 2px;
  background: $accent-color-dark;
}

::-webkit-scrollbar-thumb:hover {
  background: #be5a1c;
}
