
@import '../../base/sass/main.scss';


.flexContainer{
display: flex;
  align-items: center;

}

.logo {
  display: inline-block;
  align-items: flex-start;
}

.category span{
  display: none;
     @include for-size(tablet) {
       font-size: 12px;
     }
}

.category {
  

   @include for-size(tablet) {

    display: inline-block;
     align-items: center;
   margin-left: 30px;
    font-weight: 400;
    font-size: 12px;
    color: $font-color-secondary;
  }
}


.activeLink {
    color: $accent-color-light;
  }

