@charset "UTF-8";
.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* //linearGradient */
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

address {
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.17;
}

/* Делает картинки блочными */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Типография */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Убрать подчёркивания у ссылок */
.link {
  text-decoration: none;
}

/* Убрать маркировку списков */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Поинтер на кнопки */
.button {
  cursor: pointer;
}

/* Задаём ширину основного контейнера */
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}

@media (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 51px;
    padding-right: 51px;
  }
}

@media (min-width: 1280px) {
  .container {
    min-width: 1280px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.dark-bg {
  background-color: #0e0e0e;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  align-items: flex-start;
}

.menu, .menuWrapper {
  display: flex;
  align-items: center;
}

.menu {
  content: '';
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: translateX(-100%);
  transition: all 250ms;
  background: #fff;
  width: 70%;
  flex-direction: column;
}

.menu.open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

@media (min-width: 768px) {
  .menu {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    position: inherit;
    background: transparent;
    flex-direction: row;
    transform: translateX(0);
  }
}

.backdrop {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: all 250ms;
}

.backdrop.open {
  opacity: 1;
  pointer-events: auto;
}

.closeButtonItem {
  align-self: flex-start;
  padding: 15px;
}

.closeButton {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
}

.closeButton .closeImg {
  fill: #FF751D;
}

@media (min-width: 768px) {
  .closeButton {
    display: none;
  }
}

.burgerLine {
  display: block;
  width: 35px;
  height: 2px;
  background: #FF751D;
}

.menuBtnToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  border: none;
  background: none;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .menuBtnToggle {
    display: none;
  }
}

.menuItem {
  font-weight: 400;
  font-size: 18px;
  padding: 15px 0;
}

@media (min-width: 768px) {
  .menuItem {
    padding: 0 15px;
    font-size: 14px;
  }
}

.menuLink {
  color: #52555F;
  text-decoration: none;
}

.menuLink:hover, .menuLink:focus {
  text-decoration: underline;
}

.category {
  display: none;
}

@media (min-width: 768px) {
  .category {
    display: inline-block;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    text-decoration-line: underline;
    margin-left: 30px;
    color: #52555F;
    border-radius: 4px;
    padding: 5px;
  }
  .category:hover, .category:focus {
    color: #FFFFFF;
    background-color: #FFDAC0;
  }
}

.categoryIcon {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #52555F;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  background-color: #FFDAC0;
  border-radius: 50%;
  border: none;
}

@media (min-width: 768px) {
  .categoryIcon {
    display: none;
  }
}

.activeLink {
  color: #FFDAC0;
}
/*# sourceMappingURL=Nav.module.css.map */