$bg-main:FFFFFF;
$bg-second: F5F6FB;
$accent-color-dark: FF751D;
$accent-color-light:FFDAC0;


$font-color-main: 000000;
$font-color-secondary: 52555F;
$font-color-secondary-02: rgba(82, 85, 95, 0.7); // or E0E5EB;C7CCDC;A6ABB9;

$balance-out:E53935; // or EB5757;E7192E; 
$balance-in:407946;
$modal-win: 1D346A; /* //linearGradient */

$logo-color:FB7C2F;
$logo-color-02: rgba(251, 124, 47, 0.2);

$kapusta-color: DFE2EB;

